.spinner {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border: 4px solid #ddd;
  border-top: 4px solid #ff8800;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
